$pri-color : blue;

.centered {
    margin: 3em auto;
    width: 90%;
}

#wrapper{
    @extend .centered;
    h1{
        color: $pri-color;
    }
    a {
        color: $pri-color;
    }
    margin: 3em auto;
    width: 80%;
}

footer{
    @extend .centered;
    text-align: right;
}